:root{
    --backColor: #1A3636;
    --fontColor: #D6BD98;
    --altColor: #40534C;
    --hoverColor: #677D6A;
    --strongColor: #22D4FD;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--backColor);
    color: var(--fontColor);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

strong{
    color: var(--strongColor);
}

.cabecalho{
    height: 10vh;
    background-color: var(--altColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__menu {
    width: 100%;
    background-color: var(--altColor);
    animation-name: rolagem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rolagem {
    0% {
        background-color: var(--altColor);
        left: 0px;
        top: 0px;
    }

    50% {
        background-color: black;
        left: 200px;
        top: 200px;
    }

    100% {
        background-color: var(--altColor);
        left: 0px;
        top: 0px;
    }
}

.cabecalho__menu{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho__menu__link{
    height: 5vh;
    width: 33.3vw;
    border: 1px solid var(--backColor);
    color: var(--fontColor);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    background-color: var(--hoverColor);
    cursor: pointer;
}

.apresentacao{
    width: 100vw;
    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.apresentacao__conteudo{
    height: 70vh;
    width: 48%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.apresentacao__conteudo__titulo{
    font-size: 2rem;
    text-align: justify;
}

.apresentacao__conteudo__texto{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-align: justify;
}

.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.apresentacao__conteudo__links__subtitulo{
    font-size: 1.5rem;
    padding: 21.5px 0;
}

.apresentacao__conteudo__links__link{
    width: 300px;
    max-width: 80%;
    padding: 21.5px 0;
    border: 2px solid var(--strongColor);
    justify-content: center;
    border-radius: 10px;
    display: flex;
    gap: 3%;
    color: var(--fontColor);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.apresentacao__conteudo__links__link:hover{
    background-color: var(--hoverColor);
}

.octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.apresentacao__conteudo__links__link__icone{
    max-width: 25px;
    border-radius: 50%;
}

.apresentacao__conteudo__foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    filter: grayscale(100%);
}

.rodape{
    width: 100vw;
    height: 10vh;
    background-color: var(--altColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px){
    .apresentacao{
        flex-direction: column-reverse;
    }
    .apresentacao__conteudo, .apresentacao__imagem{
        width: 96vw;
        height: auto;
    }
}