*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #F6F6F6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

strong{
    color: #22D4FD;
}

.cabecalho{
    height: 10vh;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__menu{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho__menu__link{
    height: 5vh;
    width: 33.3vw;
    border: 1px solid black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    background-color: grey;
    cursor: pointer;
}

.apresentacao{
    width: 100vw;
    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.apresentacao__conteudo{
    height: 70vh;
    width: 48%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    text-align: justify;
}

.apresentacao__conteudo__texto{
    margin-top: 12px;
    font-size: 24px;
    text-align: justify;
}

.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo__links__subtitulo{
    font-size: 24px;
    padding: 21.5px 0;
}

.apresentacao__conteudo__links__link{
    width: 25vw;
    padding: 21.5px 0;
    border: 2px solid #22D4FD;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    gap: 3%;
    color: white;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

.apresentacao__conteudo__links__link:hover{
    background-color: grey;
}

.octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.apresentacao__conteudo__links__link__icone{
    max-width: 25px;
    border-radius: 50%;
}

.apresentacao__imagem{
    height: 70vh;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.apresentacao__imagem__foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    filter: grayscale(100%);
}

.rodape{
    width: 100vw;
    height: 10vh;
    background-color: darkgreen;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
